.degrees {
  color: #2f5056;
  font-weight: bold;
}

.hours {
  color: #9a562a;
}

.WeatherForecast {
  text-align: center;
  margin: 20px;
}

.WeatherForecast canvas {
  display: block;
  margin: 10px auto;
}
