ul {
  margin: 0;
  padding: 0;
}

li {
  color: #9a562a;
  font-family: "Syne", sans-serif;
  font-size: 20px;
  font-weight: 100;
  list-style: none;
  margin: 0;
  padding: 0px;
  text-align: left;
}

#city-input {
  background-color: #c2c8c6;
  border: 1px solid #2f5056;
  color: #2f5056;
  padding: 2px;
}

#submit-button {
  background-color: #2f5056;
  border: 1px solid #2f5056;
  border-radius: 3px;
  color: #eae2d9;
  font-family: "Syne", sans-serif;
  margin: 5px;
  padding: 3px;
  transition: all 200ms ease;
}

#submit-button:hover {
  background-color: #c2c8c6;
  color: #2f5056;
}
