.current-date {
  font-size: 24px;
  color: #9a562a;
}

.date-and-condition {
  margin-left: 2px;
}

.weather-details {
  margin-top: 10px;
}

#city {
  color: #2f5056;
  font-family: "Rokkitt", serif;
  font-size: 60px;
  margin: 5px 0px 0px 0px;
  text-align: left;
}
